atpublic==3.1.1
duckdb==0.7.1
duckdb-engine==0.7.0
ibis-framework==5.1.*
markdown-it-py==2.2.0
mdurl==0.1.2
multipledispatch==0.6.0
numpy==1.24.2
pandas==1.5.3
parsy==2.1
py4j==0.10.9.7
pyarrow==11.0.0
Pygments==2.15.0
pyspark==3.3.2
python-dateutil==2.8.2
pytz==2023.3
rich==13.3.4
six==1.16.0
SQLAlchemy==1.4.*
sqlalchemy-views==0.3.2
sqlglot==11.5.3
toolz==0.12.0
typing_extensions==4.5.0
